In [1]:
import pandas as pd
import numpy as np
import os
from IPython.display import display
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from ITUtils import *
from tqdm.notebook import tqdm

pd.set_option('display.max_rows', None)

In [2]:
countries_folder = './countriestables'
# load all tables from the folders into a single pd file
# Initialize an empty list to store DataFrames
dataframes = []

# Loop through all files in the folder
for filename in os.listdir(countries_folder):
    if filename.endswith('.csv'):  # Assuming the tables are in CSV format
        filepath = os.path.join(countries_folder, filename)
        df = pd.read_csv(filepath)
        dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

# Display the combined DataFrame
display(combined_df.head())
# print all the column names
print(combined_df.columns)

/tmp/ipykernel_582276/3508078801.py:10: DtypeWarning: Columns (20,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
/tmp/ipykernel_582276/3508078801.py:10: DtypeWarning: Columns (20,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
/tmp/ipykernel_582276/3508078801.py:10: DtypeWarning: Columns (3,20,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
/tmp/ipykernel_582276/3508078801.py:10: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)

,com_el.ntc_id,com_el.tgt_ntc_id,com_el.adm,com_el.ntwk_org,com_el.sat_name,com_el.long_nom,com_el.prov,com_el.d_rcv,com_el.st_cur,orbit.orb_id,...,grp.freq_max,grp.bdwdth,grp.d_inuse,grp.d_reg_limit,grp.d_prot_eff,grp.f_biu,emiss.seq_no,emiss.pwr_ds_max,emiss.design_emi,carrier_fr.freq_carr
0,117500287,NaN,KOR,NaN,GK2-128.2E,128.2,11.2,20.11.2020,50,NaN,...,2066.840,1000.0,21.12.2018,04.06.2019,04.12.2012,C,1.0,-33.3,1M00G1D--,NaN
1,109590013,NaN,KOR,NaN,COMS-128.2E,128.2,RS49,31.03.2009,50,NaN,...,2225.780,NaN,11.01.2010,NaN,24.08.2004,NaN,NaN,NaN,NaN,NaN
2,106500084,NaN,KOR,NaN,KOMPSAT-2,NaN,11.2,23.03.2006,50,1.0,...,2211.180,3000.0,28.07.2006,18.06.2008,23.03.2006,C,1.0,-55.9,3M00G2D--,NaN
3,111500044,NaN,KOR,NaN,KOMPSAT-3,NaN,11.2,12.04.2011,50,1.0,...,2233.563,3126.0,18.08.2012,08.09.2016,12.04.2011,C,1.0,-63.0,3M12G2D--,NaN
4,118500279,NaN,KOR,NaN,KOMPSAT-6,NaN,11.2,20.12.2018,50,1.0,...,2211.243,3126.0,31.12.2025,12.12.2023,20.12.2018,NaN,1.0,-63.0,3M12G2D--,2209.68

Index(['com_el.ntc_id', ' com_el.tgt_ntc_id', ' com_el.adm',
       ' com_el.ntwk_org', ' com_el.sat_name', ' com_el.long_nom',
       ' com_el.prov', ' com_el.d_rcv', ' com_el.st_cur', ' orbit.orb_id',
       ' orbit.nbr_sat_pl', ' orbit.apog_km', ' orbit.perig_km',
       ' orbit.op_ht_km', ' s_beam.emi_rcp', ' s_beam.beam_name',
       ' grp.grp_id', ' grp.freq_min', ' grp.freq_max', ' grp.bdwdth',
       ' grp.d_inuse', ' grp.d_reg_limit', ' grp.d_prot_eff', ' grp.f_biu',
       ' emiss.seq_no', ' emiss.pwr_ds_max', ' emiss.design_emi',
       ' carrier_fr.freq_carr'],
      dtype='object')

In [3]:
# get the reference database for tpa
tpafile = './databases/TPAtable.csv'
tpa_df = pd.read_csv(tpafile)
display(tpa_df)

,com_el.ntc_id,com_el.tgt_ntc_id,com_el.adm,com_el.ntwk_org,com_el.sat_name,com_el.long_nom,com_el.ntc_type,com_el.prov,com_el.ntf_rsn,com_el.d_rcv,...,grp.freq_min,grp.freq_max,grp.bdwdth,emiss.seq_no,emiss.pwr_ds_max,emiss.design_emi,carrier_fr.freq_carr,channel.bandwidth,channel.freq_min,channel.freq_max
0,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,401.825,402.0,NaN,2,-55.0,9K50F1DAN,401.96,9500.0,401.95525,401.96475
1,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,401.825,402.0,NaN,1,-55.0,19K8F1DAN,401.96,19800.0,401.95010,401.96990
2,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,2055.000,2075.0,NaN,1,-41.0,250KM1DAN,2055.60,250000.0,2055.47500,2055.72500
3,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,401.825,402.0,NaN,2,-55.0,9K50F1DAN,401.90,9500.0,401.89525,401.90475
4,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,2202.000,2239.0,NaN,1,-55.8,1M00M1DAN,2237.50,1000000.0,2237.00000,2238.00000
5,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,2055.000,2075.0,NaN,1,-41.0,250KM1DAN,2065.70,250000.0,2065.57500,2065.82500
6,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,401.825,402.0,NaN,1,-39.8,19K8F1DAN,401.96,19800.0,401.95010,401.96990
7,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,401.825,402.0,NaN,1,-55.0,19K8F1DAN,401.90,19800.0,401.89010,401.90990
8,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,401.825,402.0,NaN,2,-39.8,9K50F1DAN,401.96,9500.0,401.95525,401.96475
9,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,401.825,402.0,NaN,1,-39.8,19K8F1DAN,401.90,19800.0,401.89010,401.90990
10,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,401.825,402.0,NaN,2,-39.8,9K50F1DAN,401.90,9500.0,401.89525,401.90475
11,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,2202.000,2239.0,NaN,1,-55.8,1M00M1DAN,2202.90,1000000.0,2202.40000,2203.40000

In [4]:
# find all conflicts

num_logical_processors = os.cpu_count()
pandarallel.initialize(nb_workers=num_logical_processors, progress_bar=True)
combined_conflicts, notfound = conflicts_appender(combined_df, tpa_df)

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=253972), Label(value='0 / 253972')…

/home/simone/PycharmProjects/TPA1_ITU_SE_SIEVE/ITUtils.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf[['tpaconflicts', 'percentoverlap']] = ddf.parallel_apply(

In [5]:

display(combined_conflicts.head())
display(notfound.head())
# save to csv with conflict 
combined_conflicts.to_csv('./databases/combined_tables_conflicts.csv', index=False)
print('file ./databases/combined_tables_conflicts.csv created')

,com_el.ntc_id,com_el.tgt_ntc_id,com_el.adm,com_el.ntwk_org,com_el.sat_name,com_el.long_nom,com_el.prov,com_el.d_rcv,com_el.st_cur,orbit.orb_id,...,grp.f_biu,emiss.seq_no,emiss.pwr_ds_max,emiss.design_emi,carrier_fr.freq_carr,channel.bandwidth,channel.freq_min,channel.freq_max,tpaconflicts,percentoverlap
126,119545208,NaN,KOR,NaN,KOREASAT 3-1,NaN,9.1/IA,13.11.2019,50,1.0,...,NaN,1.0,-21.2,20M0G7D--,2057.0,20000000.0,2047.0,2067.0,2:5:,100:100
129,119545208,NaN,KOR,NaN,KOREASAT 3-1,NaN,9.1/IA,13.11.2019,50,1.0,...,NaN,3.0,-56.0,90M0G7D--,2245.0,90000000.0,2200.0,2290.0,4:11:,100:100
130,119545208,NaN,KOR,NaN,KOREASAT 3-1,NaN,9.1/IA,13.11.2019,50,1.0,...,NaN,1.0,-21.2,20M0G7D--,2067.5,20000000.0,2057.5,2077.5,5:,100
177,119545208,NaN,KOR,NaN,KOREASAT 3-1,NaN,9.1/IA,13.11.2019,50,3.0,...,NaN,1.0,-21.2,20M0G7D--,2067.5,20000000.0,2057.5,2077.5,5:,100
183,119545208,NaN,KOR,NaN,KOREASAT 3-1,NaN,9.1/IA,13.11.2019,50,2.0,...,NaN,1.0,-21.2,20M0G7D--,2067.5,20000000.0,2057.5,2077.5,5:,100

,com_el.ntc_id,com_el.tgt_ntc_id,com_el.adm,com_el.ntwk_org,com_el.sat_name,com_el.long_nom,com_el.prov,com_el.d_rcv,com_el.st_cur,orbit.orb_id,...,grp.f_biu,emiss.seq_no,emiss.pwr_ds_max,emiss.design_emi,carrier_fr.freq_carr,channel.bandwidth,channel.freq_min,channel.freq_max,tpaconflicts,percentoverlap
0,117500287,NaN,KOR,NaN,GK2-128.2E,128.2,11.2,20.11.2020,50,NaN,...,C,1.0,-33.3,1M00G1D--,NaN,1000000.0,NaN,NaN,,
1,109590013,NaN,KOR,NaN,COMS-128.2E,128.2,RS49,31.03.2009,50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
2,106500084,NaN,KOR,NaN,KOMPSAT-2,NaN,11.2,23.03.2006,50,1.0,...,C,1.0,-55.9,3M00G2D--,NaN,3000000.0,NaN,NaN,,
3,111500044,NaN,KOR,NaN,KOMPSAT-3,NaN,11.2,12.04.2011,50,1.0,...,C,1.0,-63.0,3M12G2D--,NaN,3120000.0,NaN,NaN,,
5,117500287,NaN,KOR,NaN,GK2-128.2E,128.2,11.2,20.11.2020,50,NaN,...,C,1.0,-41.1,5M20G1D--,NaN,5200000.0,NaN,NaN,,

file ./databases/combined_tables_conflicts.csv created