# Frequency Range extraction
obtain the frequency range for the TPA1 satellite from the ITU database

In [20]:
import pandas as pd
from IPython.display import display

In [21]:
filename = './databases/NZquery.csv'
# import the table using pandas
NZdataframe = pd.read_csv(filename)
# check the table header
print(NZdataframe.columns)
# get the TPA table only
TPAdf = NZdataframe[NZdataframe[' com_el.sat_name'] == 'TPA-1']
# check the content
display(TPAdf.head())

Index(['com_el.ntc_id', ' com_el.tgt_ntc_id', ' com_el.adm',
       ' com_el.ntwk_org', ' com_el.sat_name', ' com_el.long_nom',
       ' com_el.ntc_type', ' com_el.prov', ' com_el.ntf_rsn', ' com_el.d_rcv',
       ' orbit.orb_id', ' orbit.nbr_sat_pl', ' orbit.apog_km',
       ' orbit.perig_km', ' orbit.op_ht_km', ' s_beam.emi_rcp',
       ' s_beam.beam_name', ' grp.grp_id', ' grp.freq_min', ' grp.freq_max',
       ' grp.bdwdth', ' emiss.seq_no', ' emiss.pwr_ds_max',
       ' emiss.design_emi', ' carrier_fr.freq_carr'],
      dtype='object')

,com_el.ntc_id,com_el.tgt_ntc_id,com_el.adm,com_el.ntwk_org,com_el.sat_name,com_el.long_nom,com_el.ntc_type,com_el.prov,com_el.ntf_rsn,com_el.d_rcv,...,s_beam.emi_rcp,s_beam.beam_name,grp.grp_id,grp.freq_min,grp.freq_max,grp.bdwdth,emiss.seq_no,emiss.pwr_ds_max,emiss.design_emi,carrier_fr.freq_carr
0,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,R,UHFUP,124694579,401.825,402.0,NaN,2,-55.0,9K50F1DAN,401.96
1,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,R,UHFUP,124694579,401.825,402.0,NaN,1,-55.0,19K8F1DAN,401.96
2,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,R,SUP,124694581,2055.000,2075.0,NaN,1,-41.0,250KM1DAN,2055.60
3,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,R,UHFUP,124694579,401.825,402.0,NaN,2,-55.0,9K50F1DAN,401.90
4,124545322,NaN,NZL,NaN,TPA-1,NaN,N,9.1/IA,A,04.10.2024,...,E,SDN,124694582,2202.000,2239.0,NaN,1,-55.8,1M00M1DAN,2237.50

In [31]:
# filter by fmin, fmax and emission direction
colums_to_keep = [' com_el.sat_name', ' grp.freq_min', ' grp.freq_max', ' s_beam.emi_rcp', ' carrier_fr.freq_carr', ' emiss.design_emi' ]
TPAfreqs = TPAdf[colums_to_keep]

# sort by fmin
TPAfreqs = TPAfreqs.sort_values(by=' grp.freq_min')
display(TPAfreqs)
fmins = TPAfreqs[' grp.freq_min'].unique() 
fmaxs = TPAfreqs[' grp.freq_max'].unique() 

# Create a DataFrame with the unique values
unique_freqs_df = pd.DataFrame({
    ' grp.freq_min': fmins,
    ' grp.freq_max': fmaxs
})

# Display the DataFrame as a nicely formatted table
display(unique_freqs_df)

,com_el.sat_name,grp.freq_min,grp.freq_max,s_beam.emi_rcp,carrier_fr.freq_carr,emiss.design_emi
0,TPA-1,401.825,402.0,R,401.96,9K50F1DAN
1,TPA-1,401.825,402.0,R,401.96,19K8F1DAN
3,TPA-1,401.825,402.0,R,401.90,9K50F1DAN
7,TPA-1,401.825,402.0,R,401.90,19K8F1DAN
6,TPA-1,401.825,402.0,E,401.96,19K8F1DAN
10,TPA-1,401.825,402.0,E,401.90,9K50F1DAN
9,TPA-1,401.825,402.0,E,401.90,19K8F1DAN
8,TPA-1,401.825,402.0,E,401.96,9K50F1DAN
2,TPA-1,2055.000,2075.0,R,2055.60,250KM1DAN
5,TPA-1,2055.000,2075.0,R,2065.70,250KM1DAN
4,TPA-1,2202.000,2239.0,E,2237.50,1M00M1DAN
11,TPA-1,2202.000,2239.0,E,2202.90,1M00M1DAN

   grp.freq_min  grp.freq_max
0       401.825         402.0
1      2055.000        2075.0
2      2202.000        2239.0

In [ ]:
# todo list the frequency bands, ie carrier pm design bandwidth